/.metadata

*/../Core

I2C_IMU.zip

/TP_PdM/
/TP_PCSE/

/I2C_IMU/.settings/
/I2C_IMU/Debug/
/I2C_IMU/Drivers/
/I2C_IMU/Release/
/I2C_IMU/Middlewares/
/I2C_IMU/.cproject
/I2C_IMU/.mxproject
/I2C_IMU/.project
/I2C_IMU/STM32F401RETX_FLASH.ld
/I2C_IMU/STM32F401RETX_RAM.ld
/I2C_IMU/I2C_IMU Debug.launch
/I2C_IMU/I2C_IMU.ioc

/FreeRTOS_Prueba/.settings/
/FreeRTOS_Prueba/Debug/
/FreeRTOS_Prueba/Drivers/
/FreeRTOS_Prueba/Release/
/FreeRTOS_Prueba/Middlewares/
/FreeRTOS_Prueba/.cproject
/FreeRTOS_Prueba/.mxproject
/FreeRTOS_Prueba/.project
/FreeRTOS_Prueba/STM32F401RETX_FLASH.ld
/FreeRTOS_Prueba/STM32F401RETX_RAM.ld
/FreeRTOS_Prueba/FreeRTOS_Prueba Debug.launch
/FreeRTOS_Prueba/FreeRTOS_Prueba.ioc

/I2C_REPOSITORIO/.settings/
/I2C_REPOSITORIO/Debug/
/I2C_REPOSITORIO/Drivers/
/I2C_REPOSITORIO/Release/
/I2C_REPOSITORIO/Middlewares/
/I2C_REPOSITORIO/.cproject
/I2C_REPOSITORIO/.mxproject
/I2C_REPOSITORIO/.project
/I2C_REPOSITORIO/STM32F401RETX_FLASH.ld
/I2C_REPOSITORIO/STM32F401RETX_RAM.ld
/I2C_REPOSITORIO/I2C_IMU Debug.launch
/I2C_REPOSITORIO/I2C_IMU.ioc

/Integral_trapezoidal/.settings/
/Integral_trapezoidal/Debug/
/Integral_trapezoidal/Drivers/
/Integral_trapezoidal/Release/
/Integral_trapezoidal/Middlewares/
/Integral_trapezoidal/.cproject
/Integral_trapezoidal/.mxproject
/Integral_trapezoidal/.project
/Integral_trapezoidal/STM32F401RETX_FLASH.ld
/Integral_trapezoidal/STM32F401RETX_RAM.ld
/Integral_trapezoidal/Integral_trapezoidal Debug.launch
/Integral_trapezoidal/Integral_trapezoidal.ioc

/programa/STM32_Wifi_I2c/.settings/
/programa/STM32_Wifi_I2c/Debug/
/programa/STM32_Wifi_I2c/Drivers/
/programa/STM32_Wifi_I2c/Release/
/programa/STM32_Wifi_I2c/Middlewares/
/programa/STM32_Wifi_I2c/.cproject
/programa/STM32_Wifi_I2c/.mxproject
/programa/STM32_Wifi_I2c/.project
/programa/STM32_Wifi_I2c/STM32F401RETX_FLASH.ld
/programa/STM32_Wifi_I2c/STM32F401RETX_RAM.ld
/programa/STM32_Wifi_I2c/STM32_Wifi_I2c Debug.launch
/programa/STM32_Wifi_I2c/STM32_Wifi_I2c.ioc

/programa/STM32_Wifi_I2c.zip

/Programa_USART_GPIO/

/PRUEBA_I2C_IMU/.settings/
/PRUEBA_I2C_IMU/.metadata/
/PRUEBA_I2C_IMU/.RemoteSystemsTmpFiles/
/PRUEBA_I2C_IMU/Debug/
/PRUEBA_I2C_IMU/Drivers/
/PRUEBA_I2C_IMU/Release/
/PRUEBA_I2C_IMU/Middlewares/
/PRUEBA_I2C_IMU/.cproject
/PRUEBA_I2C_IMU/.mxproject
/PRUEBA_I2C_IMU/.project
/PRUEBA_I2C_IMU/STM32F401RETX_FLASH.ld
/PRUEBA_I2C_IMU/STM32F401RETX_RAM.ld
/PRUEBA_I2C_IMU/PRUEBA_I2C_IMU Debug.launch
/PRUEBA_I2C_IMU/PRUEBA_I2C_IMU.ioc
PRUEBA_I2C_IMU/RemoteSystemsTempFiles/.project

RemoteSystemsTempFiles/.project



